.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - rem(90px));
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  height: rem(56px);
  background-color: var(--mantine-color-body);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}