.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: rem(80px);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  height: rem(56px);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

/*   @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  } */
}

.links {
/*   @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  } */
}