.footer {
  position: relative;
  bottom: 0;
  width: calc(100% - rem(80px));
  margin-left: rem(80px);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  height: rem(56px);
  z-index: 99;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
/*   @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  } */
}