.header {
  position: fixed;
  top:0;
  height: rem(56px);
  width: 100%;
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  z-index: 99;
  opacity: 100% ;
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name{
  color: white;
  text-decoration: none;
}
.name:hover{
  color: var(--mantine-color-teal-7);
}

.search{
  width: 25em;
  margin-left: 0;
}
