.navbar {
  position: fixed;
  top: rem(56px);
  width: rem(80px);
  height: calc(100vh - rem(56px));
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-teal-filled);
  z-index: 3;
}

.navbarMain {
  flex: 1;
  margin-top: rem(50px);
}

.link {
  width: rem(50px);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);

  &:hover {
    background-color: var(--mantine-color-teal-7);
    color: var(--mantine-color-white);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-teal-6);
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: auto; 
    bottom: 0; 
    width: 100%; 
    height: rem(56px); 
    flex-direction: row; 
    padding: var(--mantine-spacing-xs);
  }

  .navbarMain {
    flex: none; 
    margin-top: 0; 
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: 100%; 
  }

  .link {
    width: rem(40px); 
    height: rem(40px);
    flex-direction: row;
  }
}